In [ ]:
DAY4
Introduction to list datatype

In [ ]:
How to declare the list..? [] brackets.

In [7]:
students=['harish','sandeep','rasika','sanuba','pavitra','nusrat'] #0,1,2,3,4,5
print(students)

['harish', 'sandeep', 'rasika', 'sanuba', 'pavitra', 'nusrat']

In [ ]:
To access the above elementsin the list
Introduction to indexing:0,1,2,.........

In [ ]:
Want to access sandeep name from above list

In [8]:
print(students[1])

sandeep

In [9]:
print(students[1].title()) #Capital letter

Sandeep

In [ ]:
To add new element to list datatype #1

In [ ]:
Want to add naveenname to the above list

In [17]:
students.append('naveen')
print(students)

['harish', 'sandeep', 'zaid', 'zaid', 'rasika', 'sanuba', 'pavitra', 'nusrat', 'naveen', 'naveen', 'sachin', 'naveen']

In [ ]:
Whenever we append, the name is added to the last in the list. To get the name in the required postion....
#req: Want to add zaid to the above listin the 2nd index

In [18]:
students.insert(2,'zaid')
print(students)

['harish', 'sandeep', 'zaid', 'zaid', 'zaid', 'rasika', 'sanuba', 'pavitra', 'nusrat', 'naveen', 'naveen', 'sachin', 'naveen']

In [13]:
print(students[2])

zaid

In [14]:
print(students[2].title())

Zaid

In [ ]:
To modify elements to list datatype #2

In [19]:
students=['harish','sandeep','zaid','rasika','sanuba','pavitra','nusrat','naveen','sachin']
print(students)

['harish', 'sandeep', 'zaid', 'rasika', 'sanuba', 'pavitra', 'nusrat', 'naveen', 'sachin']

In [ ]:
#req: Want to modify sandeep name to srikanth

In [23]:
students[1]='srikanth'
print(students)

['harish', 'srikanth', 'zaid', 'rasika', 'sanuba', 'pavitra', 'nusrat', 'naveen', 'sachin']

In [ ]:
To delete the elements from the list datatype #3

In [ ]:
#req: Want to delete rasika name from the above list
index number:3

In [24]:
del students[3] #permanent delete
print(students)

['harish', 'srikanth', 'zaid', 'sanuba', 'pavitra', 'nusrat', 'naveen', 'sachin']

In [ ]:
Pop method --> #temporary deleting
#pop by default delete the last element of the list & create a carbon copy of the deleted items to the variable assigned to it.

In [25]:
x=students.pop()
print(students)

['harish', 'srikanth', 'zaid', 'sanuba', 'pavitra', 'nusrat', 'naveen']

In [26]:
print(x)

sachin